#Standard ignore files and folders
Makefile
Debug/
NoDebug/

#ignore binary files
*.o
*.obj
*.vxe
*.a
*.ace
*.bin
*.com
*.dll
*.elf
*.exe
*.hex
*.ko
*.lib
*.out
*.pm
*.pxe
*.reloc
*.romfs
*.rtl
*.sho
*.sm
*.so
*.st
*.sym

/build/
*/build/
/.settings/
/vxsim_VSB_SIMNTllvm_LP64_ld/
*/test_output/
*/CMakeUserPresets.json

/.project
/.cproject
/.wrmakefile
/.wrproject

/CMakeUserPresets.json
